{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block title%}Change your password{%endblock%}
    {%block content %}
 
    <h1>please change your password here...</h1>
    <h3>NOTE:you can change your password,only if your registered otherwise can't change....</h3>


    
<form method="POST">
        {{form.as_p}}
        <input type="submit" value="change">
        {% csrf_token%}
    </form>
    {% endblock %}
</body>
</html>